.background{
  background-color: #610a0e;
}

#contenedor{
  margin-top: 100px;
}

.letra, .administrador, .titulo{
  color: #610a0e;
}

.administrador, .titulo{
  font-family: cursive;
}

.borde-producto{
  border: 3px solid #610a0e;
}