<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registro</title>
    <link rel="shortcut icon" href="../../img/fritos_don_chalo_logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/signup_css.css">
  </head>
  <body class="d-flex min-vh-100 mt-4 mb-4">
    <div class="container col-lg-4 my-auto">
      <div class="card">
        <!-- TITULO -->
          <div class="card-header border border-dark border-3">
            <p class="fs-1 text-center fw-bold mb-0">REGISTRARSE</p>
          </div>
        <!-- TITULO -- Hasta aquí -->
        <div class="card-body border border-3 border-warning background">
          <!-- LOGO -->
            <img class="img-fluid text-light" src="../../img/fritos_don_chalo_logo.png" alt="fritos_don_chalo_logo">
          <!-- LOGO -- Hasta aquí -->

          <!-- FORMULARIO -->
            <form action="" method="post">
              <!-- FILA PERSONA -->
                <div class="row justify-content-center align-items-center g-2 grid gap-2">
                  <!-- INPUT NOMBRE -->
                    <div class="col">
                      <div class="text-light">Nombre:</div>
                      <input class="form-control form-control-sm" type="text" name="nombre" id="">
                    </div>
                  <!-- INPUT NOMBRE -- Hasta aquí -->

                  <!-- INPUT APELLIDO -->
                    <div class="col">
                      <div class="text-light">Apellido:</div>
                      <input class="form-control form-control-sm" type="text" name="apellido" id="">
                    </div>
                  <!-- INPUT APELLIDO -- Hasta aquí -->
                </div>
              <!-- FILA PERSONA -- Hasta aquí -->
              <br>
              <!-- FILA CONTACTO -->
                <div class="row justify-content-center align-items-center g-2 grid gap-2">
                  <!-- INPUT CORREO -->
                    <div class="col">
                      <div class="text-light">Correo:</div>
                      <input class="form-control form-control-sm" type="email" name="correo" id="">
                    </div>
                  <!-- INPUT CORREO -- Hasta aquí -->

                  <!-- INPUT TELÉFONO -->
                    <div class="col">
                      <div class="text-light">Teléfono:</div>
                      <input class="form-control form-control-sm" type="text" name="telefono" id="">
                    </div>
                  <!-- INPUT TELÉFONO -- Hasta aquí -->
                </div>
              <!-- FILA CONTACTO -- Hasta aquí -->
              <br>
              <!-- FILA USUARIO -->
                <div class="row justify-content-center align-items-center g-2 grid gap-2">
                  <!-- INPUT ROL -->
                    <div class="col">
                      <div class="text-light">Rol:</div>
                      <input class="form-control form-control-sm" type="text" name="rol" value="Cliente" id="" readonly disabled>
                    </div>
                  <!-- INPUT ROL -- Hasta aquí -->

                  <!-- INPUT USUARIO -->
                    <div class="col">
                      <div class="text-light">Usuario:</div>
                      <input class="form-control form-control-sm" type="text" name="usuario" id="">
                    </div>
                  <!-- INPUT USUARIO -- Hasta aquí -->
                </div>
              <!-- FILA USUARIO -- Hasta aquí -->
              <br>
              <!-- FILA CONTRASEÑA -->
                <div class="row justify-content-center align-items-center g-2 grid gap-2">
                  <!-- INPUT CONTRASEÑA -->
                    <div class="col">
                      <div class="text-light">Contraseña:</div>
                      <input class="form-control form-control-sm" type="password" name="contrasena" id="">
                    </div>
                  <!-- INPUT CONTRASEÑA -- Hasta aquí -->

                  <!-- INPUT CONFIRMAR CONTRASEÑA -->
                    <div class="col">
                      <div class="text-light">Confirmar:</div>
                      <input class="form-control form-control-sm" type="password" name="contrasena" id="">
                    </div>
                  <!-- INPUT CONFIRMAR CONTRASEÑA -- Hasta aquí -->
                </div>
              <!-- FILA CONTRASEÑA -- Hasta aquí -->
              <br>
              <!-- BOTONES Y ANCLAS -->
                <div class="text-center mt-3">
                  <!-- BOTÓN REGISTRAR -->
                    <input type="submit" value="Registrar" class="btn btn-warning fw-bold" name="accion">
                  <!-- BOTÓN REGISTRAR -- Hasta aquí -->
                  <br>
                  <br>
                  <!-- ANCLAS -->
                  <div class="text-light">
                    <!-- ANCLA LOGIN-->                     
                      <a class="link-light" href="login.html">Ir al login</a>
                    <!-- ANCLA LOGIN -- Hasta aquí --> 
                    <br>
                    o
                    <br>
                    <!-- ANCLA INDEX --> 
                      <a class="link-light" href="../../index.html">Volver al inicio</a>
                    <!-- ANCLA INDEX -- Hasta aquí -->
                  </div>                  
                  <!-- ANCLAS -- Hasta aquí -->
                </div>
              <!-- BOTONES Y ANCLAS -- Hasta aquí -->
            </form>
          <!-- FORMULARIO -- Hasta aquí -->
        </div>
      </div>
    </div>
  </body>
</html>